/* HEADER */
.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px 15px;
}

/* NAV */
.nav__items {
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__close-button {
  display: none;
}

.nav__link {
  font-size: 14px;
  letter-spacing: 1.7px;
  color: #505050;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.2s;
  font-weight: 700;
}

.nav__link:hover {
  color: #496936;
}

@media screen and (max-width: 900px) {

}