.services__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services__card {
  box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  cursor: pointer;
}

.services__card-img {
  width: 100%;
  object-fit: cover;
}

.services__card-title {
  margin: 0;
  padding: 15px 0;
  color: #4c4c4c;
  font-size: 18px;
  text-align: center;
}

.services__card:hover {
  background-color: #dcf8c6;
}