@import url(./assets/fonts/fonts.css);

/* Главные стили */
.body {
  margin: 0;
  color: #191919;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  background-color: #fff;
}

.body_disactive {
  overflow: hidden;
}

.title {
  margin: 0 0 30px;
  color: #4f7737;
  font-weight: 700;
  font-size: 48px;
}

.section {
  box-sizing: border-box;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 50px 15px;
}

@media screen and (max-width: 700px) {
  .title {
    font-size: 30px;
    margin: 0 0 20px;
  }

  .section {
    padding: 30px 10px;
  }
}